
  @media screen and (max-width: 1000px) {
    .nav {
      left: initial;
      top: initial;
      bottom: 0px;
      width: 100%;
    }
  }
  
  .nav a[href = "#/"]{

    z-index: 1;
    position: fixed;
    top: 70px;
    left: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    border-radius: 5px;
  
    text-decoration:#01d3a4;
    color: rgb(228, 49, 4);
    text-transform:uppercase;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
  }

  .nav a[href = "#/login"]{
    z-index: 1;
    position: fixed;
    top: 50px;
    left: 1000px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    border-radius: 5px;

    text-decoration:#df0f0f;
    color: rgb(0, 0, 0);
    text-transform:uppercase;
    font-size: 20px;
    text-align:center;
    font-weight: 600;
  }
  
 
  .nav a:not(:last-child) {
    margin-bottom: 20px;
  }