.MainTitle {
    text-align: center;
    color:"red";
    border: 4px dashed #815854; 
    text-decoration: 'none' !important;
  }

.Root {
  display: flex;
  flex-direction: column;
}

.TopBarRoot {
  display: flex;
}

.TopBarItem {
  width: 25%;
  font-weight: bold;
  text-align: center;
}

.Login {
  display: flex;
  font-weight: bold;
}

@media screen and (max-width:600px){
  .Login{
    flex-direction: column;
  }
}

.BasketTitle{
  border: 1px solid black;
  padding: 10px;
}

.OrderInfoTitle{
  border: 1px solid black;
  padding: 10px;
}